<div class="modal-header">
  <h5 class="modal-title">
      Update TDB<br>
      <small class="text-muted">Please enter the TDB details.</small>
  </h5>
</div>
<div class="modal-body">
  <form [formGroup]="updateTdbForm">
    <div class="form-group">
      <label class="form-label">TDB Name</label>
      <input type="text" formControlName="tdbName" class="form-control" [class.is-invalid]="updateTdbForm.get('tdbName').touched && updateTdbForm.get('tdbName').errors" placeholder="TDB name">
      <small class="invalid-feedback">
        This field is required.
      </small>
    </div> 
    <div class="form-group">
      <label class="form-label">IP Address</label>
      <input type="text" formControlName="ipAddress" class="form-control" [class.is-invalid]="updateTdbForm.get('ipAddress').touched && updateTdbForm.get('ipAddress').errors" placeholder="IP Address">
      <small class="invalid-feedback">
        This field is required.
      </small>
    </div> 
    <p [ngStyle]="{'color':ipAddressText === 'Invalid IP address, Please enter valid IP address' ? 'red' : 'green' }">{{ipAddressText}}</p>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="!isIpAddress">
    <button [disabled]="!updateTdbForm.valid" type="button" class="btn btn-primary" (click)="testIpConnection(); changeText(btnText)">{{btnText}}</button>
  </ng-container>
  <ng-container *ngIf="isIpAddress">
    <button [disabled]="!updateTdbForm.valid" type="button" class="btn btn-primary" (click)="activeModal.dismiss('save'); updateTdb()">Save</button>
  </ng-container>

  <button type="button" class="btn btn-default" (click)="activeModal.dismiss('cancel');">Cancel</button>
</div>