<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">

  <!-- Brand demo (see demo.css) -->
  <a routerLink="/" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
    <span class="app-brand-text demo">
      <img src="assets/img/logo_small.svg">
    </span>
  </a>

  <!-- Sidenav toggle (see demo.css) -->
  <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center ml-auto">
      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-notifications nav-item mr-lg-3">
        <a ngbDropdownToggle class="nav-link hide-arrow" href="javascript:void(0)">
          <i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>
          <!-- <span class="badge badge-primary badge-dot indicator"></span> -->
          <span class="d-lg-none align-middle">&nbsp; Notifications</span>
        </a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
          <div class="bg-primary text-center text-white font-weight-bold p-3">
            No New Notifications
          </div>
          <div class="list-group list-group-flush">
          </div>

          <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
        </div>
      </div>

      <!-- Divider -->
      <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>

      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
        <a ngbDropdownToggle class="nav-link" href="javascript:void(0)">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <ngx-avatar name="{{this.username}}" size="30" [round]="true"></ngx-avatar>
            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{this.username}}</span>
          </span>
        </a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
          <a (click)="this.modalService.open(logoutModal)" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Modals -->
<ng-template #logoutModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      <i class="ion ion-ios-log-out text-danger"></i>&nbsp;Logout
    </h5>
  </div>
  <div class="modal-body">
    Are you sure you want to log out?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('close modal');">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('close modal'); this.router.navigate(['/login'])">Confirm</button>
  </div>
</ng-template>