<!-- <div class="ui-bordered px-4 pt-4 mb-4">
  <div class="form-row">
    <div class="col-md-4 mb-4">
      <ng-select placeholder="Select Month" [items]="monthRange" [(ngModel)]="selectedMonth" [clearable]="false" (change)="onMonthChange($event)"></ng-select>
    </div>
  </div>
</div> -->


<div class="card col-md-12 px-2">
  <div class="card-header">
    <p class="ion ion-md-analytics"></p>&nbsp;&nbsp;&nbsp;{{this.row.slave_description}} - <strong>{{this.row.slave_name}}</strong>
  </div>
  <div class="card-body">
    <div>
      <div class="col-md-12">
        <div id="chartdiv1" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>
