#graphContainer {
    padding: 1.5rem;
    position: relative;
    // overflow:auto;
    // max-height: 60vh;
    
}

.scroll {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 80vh;
    position: relative;
}

.invalid-add {
  color: red;
}


.ng-select.border-error ::ng-deep .ng-select-container {
    border-color: red !important;
}

// .custom-nav {
//   padding: 0.45rem 1.25rem !important;
// }
  
/* Scrollbar CSS */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(196, 193, 193); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

  

