<div class="row d-flex justify-content-center" id="fullScreen" #fullScreen>
 
  <!-- Graph Selection -->
  <div class="card mb-4 w-100 h-100" >
    <ngx-spinner [fullScreen]="false" type = "line-scale" size="default" bdColor="rgba(39,39,45,0.8)">
      <!-- <i style="color: white" > Loading... </i> -->
    </ngx-spinner>
    <div class="pl-4 pr-4"><ng-select style="padding-top: 1rem;" placeholder="Select Graph" [clearable]="false" [items]="selectedMxGraph" bindLabel="mxgraph_name"
      [(ngModel)]="selectedGraph" (change)="onSelectGraph($event)">
      </ng-select>
    </div>
    <div #container id="container" style="resize:vertical; overflow: auto;"  class="card-body scroll d-flex justify-content-center">
      <div #graphContainer id="graphContainer"></div>
      <div toastContainer></div>
    </div>
    
    <p *ngIf="!isFullScreen"></p>
    <i *ngIf="!isFullScreen"  class="ion ion-ios-expand full-screen" (click)="openFullscreen()"></i> 
    
  </div>

</div>





