<div class="row d-flex justify-content-center">

<!-- Graph Selection -->
<div class="card mb-4 w-100 h-100">
  <div class="pl-4 pr-4"><ng-select style="padding-top: 1rem;" appendTo="body" placeholder="Select Graph" [clearable]="false" [items]="selectedMxGraph" bindLabel="mxgraph_name"
    [(ngModel)]="selectedGraph" (change)="onSelectGraph($event)">
    </ng-select>
  </div>
  <div style="resize:vertical; overflow: auto;"  class="card-body scroll d-flex justify-content-center">
    <div #graphContainer id="graphContainer"></div>
  </div>
  <p>
  
</div>


</div>





