<div class="card p-3">
  <h4 class="card-header">
    <i class="ion ion-ios-timer"></i>&nbsp;&nbsp; GP Timer Channels
  </h4>
  <div class="filter">
    <ngx-spinner style="z-index: 2;" [fullScreen]="false" type="line-scale" size="small" bdColor="rgba(39,39,45,1)"></ngx-spinner>
    <div style="margin-right: 10px; margin-top: 5px;">
      <input (input)="onChanges($event.target.value)" class="input" type="text" placeholder="Global Search"  [(ngModel)]="searchText">
    </div>
    <div style="margin-right: 10px;">
      <button [disabled]="!disabledSearch" (click)="filter()" class="btn btn-primary btn-filter">Search</button>
    </div>
    <div>
      <button (click)="clearFilter()" class="btn btn-primary btn-filter">Clear</button>
    </div>
  </div>
  <div class="scroll-table">
    <ng-container *ngIf="this.gpTimerChannelsDetail.length > 0 && isLoading">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-header">
            <th>Index</th>
            <th *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1" >Channel</th>
            <th *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1" style="min-width: 100px;">TDB Name</th>
            <th style="min-width: 220px;">Description</th>
            <th style="min-width: 100px;">Status</th>
            <th *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1" style="min-width: 120px;">Type</th>
            <th *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1" style="min-width: 120px;">Output Type</th>
            <th *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1" style="min-width: 120px;">Mask</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of gpTimerChannelsDetail; let i = index">
            <td><b>{{i+1}}.</b></td>
            <td *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1">{{item.channel}}</td>
            <td *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1">{{item.tdbName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1">{{item.type}}</td>
            <td *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1">{{item.outputType}}</td>
            <td *ngIf="this.appService.config.role1.indexOf(this.userRole) > -1">{{item.outputMask}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="assignGpTimer(i)">View</button>
            </td>
          </tr>

        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="this.gpTimerChannelsDetail.length == 0">
      <div class="no-data">
        <h6>{{displayMessage}}</h6>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
</div>