<div class="card mb-4 p-3">
  <h4 class="card-header">
    <i class="ion ion-ios-timer"></i>&nbsp;&nbsp; GP Timer Channels
  </h4>
  <div class="scroll-table">
    <ng-container *ngIf="!isLoading">
      <table *ngIf="!isLoading" class="table table-bordered table-hover">
        <thead>
          <tr class="table-header">
            <th>Channel</th>
            <th style="min-width: 220px;">Description</th>
            <th style="min-width: 100px;">Status</th>
            <th style="min-width: 120px;">Type</th>
            <th style="min-width: 120px;">Output Type</th>
            <th style="min-width: 120px;">Mask</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ngx-spinner [fullScreen]="false" type = "line-scale" size="small" bdColor="rgba(39,39,45,1)">
            <br>
            <!-- <p style="color: white"> Loading... </p> -->
          </ngx-spinner>
          <tr *ngFor="let item of gpTimerChannelsDetail">
            <td>{{item.channel}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td>{{item.type}}</td>
            <td>{{item.outputType}}</td>
            <td>{{item.outputMask}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="assignGpTimer(item.channel)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>