<div class="modal-header">
    <h5 class="modal-title">
        Add New Rule<br>
        <small class="text-muted">Please enter the rule details.</small>
    </h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="createRuleForm">
      <div class="form-group">
        <label class="form-label">Site</label>
        <input type="text" formControlName="site" class="form-control" [class.is-invalid]="createRuleForm.get('site').touched && createRuleForm.get('site').errors?.required" placeholder="Hospital Ipoh">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Controller</label>
        <input type="text" formControlName="controller" class="form-control" [class.is-invalid]="createRuleForm.get('controller').touched && createRuleForm.get('controller').errors?.required" placeholder="M1-901">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Alarm Priority</label>
        <ng-select [items]="priority_selectOptions"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="label"
          bindValue="value"
          placeholder="Select Alarm Priority"
          formControlName="priority"
          [hideSelected]="true"
          [class.is-invalid]="createRuleForm.get('priority').touched && createRuleForm.get('priority').errors?.required">
        </ng-select>
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div> 
      <div class="form-group">
        <label class="form-label">Asset</label>
        <input type="text" formControlName="title" class="form-control" [class.is-invalid]="createRuleForm.get('title').touched && createRuleForm.get('title').errors?.required" placeholder="Chiller">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Related Asset IDs</label>
        <ng-select [items]="selectOptions"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="label"
          bindValue="id"
          placeholder="Select Asset IDs"
          formControlName="assetids"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="form-group">
        <label class="form-label">Reason</label>
        <input type="text" formControlName="reason" class="form-control" [class.is-invalid]="createRuleForm.get('reason').touched && createRuleForm.get('reason').errors?.required"  placeholder="Over Temperature">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Mitigation</label>
        <textarea autosize formControlName="mitigation" class="form-control" [class.is-invalid]="createRuleForm.get('mitigation').touched && createRuleForm.get('mitigation').errors?.required" placeholder="Action to be taken"></textarea>
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss('cancel');">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!createRuleForm.valid" (click)="activeModal.dismiss('save'); this.createRule()">Save</button>
</div>