<div class="modal-header">
    <h5 class="modal-title">
        Modify Existing Asset<br>
        <small class="text-muted">Please enter the asset details.</small>
    </h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="modifyAssetForm">
      <input type="hidden" formControlName="id">
      <div class="form-group">
        <label class="form-label">Asset ID / Number</label>
        <input type="text" formControlName="name" class="form-control" [class.is-invalid]="modifyAssetForm.get('name').touched && modifyAssetForm.get('name').errors?.required" placeholder="A110001">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Asset Type</label>
        <ng-select [items]="type_selectOptions"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="label"
          bindValue="value"
          placeholder="Select Asset Type"
          formControlName="type"
          [hideSelected]="true"
          [class.is-invalid]="modifyAssetForm.get('type').touched && modifyAssetForm.get('type').errors?.required">
        </ng-select>
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div> 
      <div class="form-group">
        <label class="form-label">Site</label>
        <input type="text" formControlName="site" class="form-control" [class.is-invalid]="modifyAssetForm.get('site').touched && modifyAssetForm.get('site').errors?.required" placeholder="Hospital Ipoh">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Controller IDs</label>
        <ng-select [items]="selectOptions"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="name"
          bindValue="name"
          placeholder="Select Controller IDs"
          formControlName="controllerids"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="form-group">
        <label class="form-label">Location</label>
        <input type="text" formControlName="location" class="form-control" [class.is-invalid]="modifyAssetForm.get('location').touched && modifyAssetForm.get('location').errors?.required"  placeholder="Level 1 - Rehab">
        <small class="invalid-feedback">
          This field is required.
        </small>
      </div>
      <div class="form-group">
        <label class="form-label">Additional Information</label>
        <textarea formControlName="additional_info" class="form-control" placeholder="Main unit asset no., additional comments"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss('cancel');">Cancel</button>
    <button type="button" class="btn btn-warning" [disabled]="!modifyAssetForm.valid" (click)="activeModal.dismiss('modify'); this.updateAsset();">Modify</button>
</div>