<!-- Page Header -->
<h4 class="font-weight-bold py-3 mb-4">
  <i class="ion ion-md-today"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Work Orders /</span> Work Order
  Dashboard <span class="text-muted font-weight-light">/ {{ currentDate | amDateFormat: 'LLLL' }}</span>
</h4>
<hr class="border-light container-m--x mt-0 mb-4">

<div #graphContainer id="graphContainer"></div>

<button class="float-sm-right btn btn-primary" (click)="openAddUserModal()"><i class="ion ion-md-add"></i>&nbsp;<b>Add
  </b></button>
