<h4 class="font-weight-bold py-3 mb-4">
  <i class="ion ion-md-analytics"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Graph Visualization</span>
  <span class="text-muted font-weight-light">/ {{ currentDate | amDateFormat: 'LLLL' }}</span>
</h4>
<hr class="border-light container-m--x mt-0 mb-4">


<div class="row justify-content-center">

<!-- Graph Selection -->
<div class="card mb-4 p-0" [ngClass]="{'col-sm-5' : !cardExpand , 'col-sm-7' : cardExpand}">
  <h4 class="card-header">
    <i class="ion ion-md-analytics"></i>&nbsp;&nbsp; Graph Selection
    <i (click)="expand()" style="font-size: 13px; margin-top: 10px;" class="float-sm-right font-weight-light text-muted" [ngClass]="{'ion ion-ios-arrow-forward': !cardExpand , 'ion ion-ios-arrow-back': cardExpand}"></i>
  </h4>
  <div class="card-body scroll justify-content-center">
    <ng-select appendTo="body" placeholder="Select Graph" [clearable]="false" [items]="selectedMxGraph" bindLabel="mxgraph_name"
      [(ngModel)]="selectedGraph" (change)="onSelectGraph($event)">
    </ng-select>
    <div #graphContainer id="graphContainer"></div>
  </div>
</div>



<div class="card mb-4 p-3" [ngClass]="{'col-sm-7' : !cardExpand , 'col-sm-5' : cardExpand}">
  <ngb-tabset #tabs [destroyOnHide]="false"  (tabChange)="fetchActiveTab($event)">  
    <!-- START FIRST TAB --> 
    <ngb-tab id="tab1">  
      <ng-template ngbTabTitle>
        <h4 style="margin-bottom: 0px !important">
          <i class="ion ion-md-today"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Add Graph</span>
        </h4>
      </ng-template>
      <ng-template ngbTabContent >  
      <div class="scroll">
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th >Index</th>
              <th style="min-width: 120px;">Controller</th>
              <th style="min-width: 200px;">Name</th>
              <th style="min-width: 120px;">Class</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <ngx-spinner [fullScreen]="false" type = "ball-beat" size="small" bdColor="rgba(39,39,45,0.8)">
              <br>
              <p style="color: white" > Loading... </p>
            </ngx-spinner>
            <tr cdkDrag cdkDragLockAxis="y" (mouseover)="highlightRow(field,j)" (mouseout)="unhighlightRow()" *ngFor="let field of fieldArray; let i = index; let j = index">
              <td cdkDragHandle><label>{{i + 1}}</label></td>
              <td>
                <ng-select appendTo="body" [disabled]="i!==readOnly" [clearable]="false" [items]="readSlaveType" bindLabel="type" [(ngModel)]="field.slave"
                  (change)="readSlaveChange($event); field.slave_name=''; field.slave_type='' " name={{field.slave}} >
                </ng-select>
              </td>
              <td>
                <ng-select appendTo="body" [disabled]="i!==readOnly" [clearable]="false" [items]="readTableData['Item']" bindLabel="Name" [(ngModel)]="field.slave_name"
                  (change)="readChanged($event,false,j)" name="{{field.slave_name}}">
                </ng-select>
              </td>
              <td>
                <input [readonly]="true" [(ngModel)]="field.slave_type" class="form-control" type="text" name="{{field.slave_type}}"
                />
              </td>
              <td >
                <button title="Delete" [hidden]="hideAddRow" type="button" class="btn btn-danger" value="Delete" [id]="field.slave_cell_id" (click)="deleteFieldValue($event, j)"><i class="ion ion-md-trash"></i></button>
                <button [hidden]="i!==readOnly" type="button" class="btn btn-primary" [id]="field.slave_cell_id" (click)="doneEdit(i,field,'done', j)">Done</button>
              </td>   
              <td>
                <button [hidden]="i!==readOnly" type="button" class="btn btn-default" [id]="field.slave_cell_id" (click)="doneEdit(i,field,'cancel', j)">Cancel</button>
                <button title="Edit" [hidden]="hideAddRow" class="btn btn-info" value="Edit" [id]="j"  (click)="onSelect(i,field, $event)" ><i class="ion ion-md-clipboard"></i></button>
              </td>
              <!-- Preview -->
                <div *cdkDragPreview matchSize="true" class="container dragdrop-placeholder">
                  {{field.slave}} - {{field.slave_name}}
                </div>
            </tr>
           
            <tr [hidden]="hideAddRow">
              <td><label></label></td>
              <td>
                <ng-select [ngClass]="{'border-error': isAddError}" appendTo="body" [clearable]="false" [items]="readSlaveType" bindLabel="type" [(ngModel)]="newAttribute.controller"
                  (change)="readSlaveChange($event)" name={{newAttribute.controller}}>
                </ng-select>
              </td>
              <td>
                <ng-select [ngClass]="{'border-error': isAddError}" appendTo="body" [clearable]="false" [items]="readTableData['Item']" bindLabel="Name"
                  [(ngModel)]="newAttribute.name" (change)="readChanged($event,true)" name="{{newAttribute.name}}">
                </ng-select>
              </td>
              <td>
                <input [readonly]="true" [(ngModel)]="readConfigClass" class="form-control" type="text" name="{{readConfigClass}}"
                   />
              </td>
              <td colspan="2">
                <button type="button" class="btn btn-primary" (click)="addFieldValue()">+ Add</button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
      </ng-template>  
    </ngb-tab> 
    <!-- END FIRST TAB --> 
       
    <!-- START SECOND TAB -->
    <ngb-tab id="tab2">   
      <ng-template ngbTabTitle>
        <h4 style="margin-bottom: 0px !important">
          <i class="ion ion-ios-link"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Nav Link</span>
        </h4>
      </ng-template>
      <ng-template ngbTabContent>  
        <div class="scroll">
          <table class="table table-bordered table-hover ">
            <thead>
              <tr>
                <th >Index</th>
                <th style="min-width: 200px;">Floor Name</th>
                <th style="min-width: 170px;">Cell Id</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="dropNav($event)">
              <ngx-spinner [fullScreen]="false" type = "ball-beat" size="small" bdColor="rgba(39,39,45,0.8)">
                <br>
                <p style="color: white" > Loading... </p>
              </ngx-spinner>
              <tr cdkDrag cdkDragLockAxis="y" (mouseover)="highlightRow(nav,j)" (mouseout)="unhighlightRow()" *ngFor="let nav of navigationLink; let i = index; let j = index;">
                <td cdkDragHandle><label>{{i + 1}}</label></td>
                <td>
                  <ng-select [disabled]="i!==readOnly" placeholder="Select Graph" appendTo="body" [clearable]="false" [items]="selectedMxGraph" bindLabel="mxgraph_name" [(ngModel)]="nav.mxgraph_name"> 
                  </ng-select>
                </td>
                <td>
                  <input [readonly]="true" class="form-control" type="text" [(ngModel)]="nav.split_cell_id"/>
                </td>
                <td >
                  <button title="Delete" [hidden]="hideAddRow" type="button" class="btn btn-danger" [id]="nav.cell_id" value="Delete" (click)="deleteNavFieldValue($event)"><i class="ion ion-md-trash"></i></button>
                  <button [hidden]="i!==readOnly" type="button" class="btn btn-primary" (click)="doneEditNav(i,nav,'done', j)">Done</button>
                </td>   
                <td>
                  <button [hidden]="i!==readOnly" type="button" class="btn btn-default" (click)="doneEditNav(i,nav,'cancel', j)">Cancel</button>
                  <button title="Edit" [hidden]="hideAddRow" class="btn btn-info" [id]="j" value="Edit" (click)="onEditNav(i,nav, $event)" ><i class="ion ion-md-clipboard"></i></button>
                </td>
                <!-- Preview -->
                <div *cdkDragPreview matchSize="true" class="container dragdrop-placeholder">
                  {{nav.mxgraph_name}}
                </div>
              </tr>
        
              <tr [hidden]="hideAddRow">
                <td><label></label></td>
                <td>
                  <ng-select [(ngModel)]="newNavAttribute.mxgraph_name" [ngClass]="{'border-error': isAddNavError}" appendTo="body" [clearable]="false" [items]="selectedMxGraph" bindLabel="mxgraph_name" (change)="readTargetFloorChange($event, true)">
                  </ng-select>
                </td>
                <td>
                  <input [readonly]="true" class="form-control" [(ngModel)]="newNavAttribute.split_cell_id" name="{{newNavAttribute.split_cell_id}}" type="text"/>
                </td>
                <td colspan="2">
                  <button type="button" class="btn btn-primary" (click)="addNavFieldValue()">+ Add</button>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>  
    </ngb-tab>  
  <!-- END SECOND TAB -->
  </ngb-tabset>  
</div>
</div>

<!-- Save Mapping Card -->
<div [hidden]="hideAddRow" class="row card mb-4">
  <h4 class="card-header">
    <i class="ion ion-md-link"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Save Mapping </span>
    <span > <button type="button" class="btn btn-primary float-sm-right" (click)="linkMapping()">Save</button></span>
    <span > <button type="button" class="float-sm-right btn btn-default mr-2" (click)="revert()">Revert</button></span>
  </h4>
</div>

<!-- Add/Edit Graph Card -->
<div class="row card mb-4">
  <ngb-tabset [destroyOnHide]="false">  
    
    <ngb-tab title="Add Graph">  
      <ng-template ngbTabContent>  
        <h4 class="card-header">
          <i class="ion ion-md-today"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Add Graph</span>
          <button class="float-sm-right btn btn-primary" (click)="this.mxGraphInsert()"><i
              class="ion ion-md-add"></i>&nbsp;Add Graph</button>
        </h4>
        <div class="card-body">
          <form [formGroup]="mxGraphForm">
            <div class="form-group">
              <input type="text" formControlName="mxgraph_value" class="form-control" [class.is-invalid]="mxGraphForm.get('mxgraph_value').touched && mxGraphForm.get('mxgraph_value').errors"
                placeholder="Graph Name (eg. Floor LG, HVAC, VAV Level 1, ..)">
                <small class="invalid-feedback">
                  This field is required.
                </small>
              <br>
              <textarea type="text" formControlName="mxgraph_code" class="form-control" [class.is-invalid]="mxGraphForm.get('mxgraph_code').touched && mxGraphForm.get('mxgraph_code').errors?.required"
                placeholder="Enter mxGraph XML (eg. <root> <mxCell id=..)">
              </textarea>
            </div>
          </form>
        </div>
      </ng-template>  
    </ngb-tab>  
       
    <ngb-tab *ngIf="!hideEditGraph">  
      <ng-template ngbTabTitle>Edit Graph</ng-template>  
      <ng-template ngbTabContent>  
        <h4 class="card-header">
          <i class="ion ion-md-today"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Edit Graph</span>
          <button *ngIf="editGraphName" class="float-sm-right btn btn-primary" (click)="this.editGraphName=false; this.cancelEditGraph()">Cancel</button>
          <button *ngIf="editGraphName" [disabled]="!editGraphForm.valid" class="float-sm-right btn btn-primary mr-2" (click)="this.editGraph()">Done</button>
          <button *ngIf="!editGraphName" class="float-sm-right btn btn-primary" (click)="this.editGraphName=true"><i class="ion ion-md-clipboard"></i>&nbsp;Edit Graph</button>
          <button *ngIf="!editGraphName" [disabled]="!editGraphForm.valid"  class="float-sm-right btn btn-danger mr-2" (click)="this.deleteGraph()"><i class="ion ion-md-trash"></i>&nbsp;Delete Graph</button>
        </h4>
        <div class="card-body">
          <form [formGroup]="editGraphForm">
            <div class="form-group">
              <input [readonly]="!editGraphName" type="text" formControlName="mxgraph_name" class="form-control" [class.is-invalid]="editGraphForm.get('mxgraph_name').touched && editGraphForm.get('mxgraph_name').errors"
                placeholder="Graph Name (eg. Floor LG, HVAC, VAV Level 1, ..)">
                <small class="invalid-feedback">
                  This field is required.
                </small>
              <br>
            </div>
          </form>
        </div>  
      </ng-template>  
    </ngb-tab>  

  </ngb-tabset>  
</div>

  <!-- <div class="card mb-4">
    <h4 class="card-header">
      <i class="ion ion-md-save"></i>&nbsp;&nbsp;<span class="text-muted font-weight-light">Write Configuration</span>
    </h4>

    <div class="card-body">
      <div class="form-row">
        <div class="col-md mb-4">
          <ng-select placeholder="Select Slave" [clearable]="false" [items]="writeSlaveType" bindLabel="type"
            [(ngModel)]="selectedValue" (change)="writeSlaveChange($event)">
          </ng-select>
        </div>
        <div class="col-md mb-4" *ngIf="writeName">
          <ng-select placeholder="Select Name" [clearable]="false" [items]="writeTableData['Item']" bindLabel="Name"
            [(ngModel)]="selectedAssetType" (change)="writeChanged($event)">
          </ng-select>
        </div>


        <div class="col-md mb-4" *ngIf="writeCode">
          <form [formGroup]="cellForm">
            <div class="form-group">

              <input type="text" formControlName="cell_code" class="form-control" [ngModel]="selectedWriteCellId"
                placeholder="mxGraph cell ID">

            </div>
          </form>
        </div>

        <div class="col-md mb-4">
          <button type="button" class="btn btn-primary" (click)="writeConfigSave()">+ Write Config</button>
        </div>



      </div>
    </div>
  </div> -->


