#graphContainer {
    padding: 1.5rem;
    position: relative;
    // overflow:auto;
    // max-height: 60vh;
    
}

.scroll {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 80vh;
    position: relative;
}

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(196, 193, 193); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

