<div class="modal-header">
  <h5 class="modal-title">
    <!-- <i class="ion ion-md-alert text-danger"></i>&nbsp;Active Alarms<br> -->
    <p style="margin-bottom: 0;"><img src="../../../assets/img/warning.gif" style="width: 1.5rem; height: 1.5rem;">&nbsp;{{row.length}}&nbsp;Active Alarms </p>
  </h5>
</div>
<div class="modal-body">
  <div id="alarm-table" class="scroll">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-header">
          <th>Index</th>
          <th>Controller</th>
          <th>Description</th>
          <th>Occurred</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alarm of row; let i = index;">
          <td><label>{{i + 1}}</label></td>
          <td>
            {{alarm.controller}}
          </td>
          <td>
            {{alarm.description}}
          </td>
          <td>
            {{convertDate(alarm.Occurred)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button name="Print" type="button" class="btn btn-primary print" (click)="print()"><i class="ion ion-md-print"></i></button>
  <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
</div>