input[readonly] {
    background-color: #fff;
}

textarea[readonly] {
    background-color: #fff;
}

.customtab {
	padding: 10px;
}

.modal-body {
	padding: 5px !important;
}

.customtabset {
	margin: 0px !important;
}

.customtab_related_alarms  {
	padding: 0px;
}

.card-ngx-datatable .ngx-datatable {
	margin-bottom: 10px !important;
}